header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Limelight', sans-serif;
  font-size: xx-large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, rgb(4, 4, 4), #4169e1); 
  background-position: center;
  color:rgb(231, 239, 237);
  width: 100%; 
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
 
 .rancid{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 
 .selectedView {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
 }

 
 .info-blurb {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 70%; 
  max-width:20%;
  margin: 10%
 }
 
 
 .display-poster {
  height: 90%;
  max-width: 20%;
  margin: 10%
 }
 
 
 .selectedTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  text-align: center;
 }
 
 
 
 
 .selectedRating {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 
 .selectedRelease {
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 
 .tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 
 .selectedOverview {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-indent: 20px;
 }
 
 
 .backdrop {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
 }
 
 
 .selectedBackdrop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
  opacity: 0.3;
  overflow: hidden;
 }
 
 
 .movie-poster{
  /* display: block;
  margin: 0 auto; */
  width:100%;
  height: 60vh;
  /* object-fit: cover; */
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
 }
 
 
 .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* margin-left: 50px; */
}

.error{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large
 }

 .res-overlay {
  display: none; 
}
 

 @media screen and (max-width: 1450px) {
 
  body {
  overflow-y: hidden;
  }
}

@media screen and (max-width: 1450px) {
  
  .backdrop {
    display: none; 
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .selectedView {
    width: 100vw;
    height: auto;
    overflow-y: auto;
  }

  .display-poster {
    order: 1; 
    max-width: 40%;
    max-height: 40%;
    min-width: 30%;
    max-height: 30%;
    align-items: center;
    text-align: center;
  }

  .info-blurb {
    order: 2;
    max-width: 40%;
    max-height: 35%;
    align-items: center;
    text-align: center;
  }

  .res-overlay-small {
  display: none;
  }

  .res-overlay-mid {
    display: none;
  }
}

@media screen and (max-width: 1449px) and (min-width: 700px) {
  
  body {
    overflow-y: visible; 
  }

  .res-overlay-small {
    display: none;
    }

  .res-overlay-mid {
    display: flex;
    
  }

  .selectedTitle-mid {
    text-align: center;
  }

  .selectedRelease-mid {
    text-align: center;
  }

  .selectedRating-mid {
    text-align: center;
  }

  .selectedOverview-mid {
    text-align: center;
  }

  .tagline-mid {
    text-align: center;
  }

  .selectedGenres-mid {
    text-align: center;
  }
  
  .movie-poster-mid {
    width:100%;
    height: 60vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }

}

@media screen and (max-width: 699px) {

  .res-overlay-small {
    display: flex;
    
  }

  .selectedTitle-small {
    text-align: center;
  }

  .selectedRelease-small {
    text-align: center;
  }

  .selectedRating-small {
    text-align: center;
  }

  .selectedOverview-small {
    text-align: center;
  }

  .tagline-small {
    text-align: center;
  }

  .selectedGenres-small {
    text-align: center;
  }

  .movie-poster-small {
    width:100%;
    height: 60vh;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  }
  

  body {
    overflow: visible;
    }
}