* {
  border: 1px solid red
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rancid {
  width: 50%;
  height: 100%;
  font-size: 1em;
}

.selectedView {
  width: 100px;
  height: 100px;
}

.selectedTitle {
  width: 50%;
  height: 100%;
  font-size: 1em;
}

.selectedRating {

}

.selectedRelease

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
